.game-selection-container {
  display: flex;
  position: relative;
  min-height: 40vh;
  max-height: 40vh;
  width: 50%;
  align-content: center;
  align-items: center;
  scroll-behavior: smooth;
  gap: 3vh;
  overflow-x: hidden;
  overflow-y: hidden;

}


.card-container-selection {
  min-width: 17vw;
  max-width: 17vw;
  height: 25vh;
    max-height: 25vh;
  background-color: #141414;
  color: #fff;
  border-radius: 10px;
   position: relative;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 2px 20px black;
  scroll-behavior: smooth;
  overflow: hidden;
}


.card-container-selection:hover {
 
  border: 3px solid beige;

  transform: scale(1.05);
  overflow:hidden;
  
}

/* Estilos para la imagen */
.image-selection {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
  transition: 0.2s ease-in-out;
}

/* Estilos para el título */
.title-container-selection {
  position: absolute;
  bottom: -24px;
  left: 13px;
  width: 100%;
  padding: 10px;
}

.title-selection {
  font-size: 2vh;
  text-align: left;
  margin: 0;
  margin-bottom: 2vh;
}

/* Estilos para los botones de agregar y remover */
.add-button,
.remove-button {
  position: absolute;
  top: 10px;
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.add-button {
  right: 10px;
}

.remove-button {
  right: 40px;
}

/* Estilos para los botones de desplazamiento */
.scroll-buttons-container {
  position: absolute;
  top: 53%;
  left: 5px;
  right: -10px;

  display: flex;
  justify-content: space-between;
  transform: translateY(-20%);
}

.scroll-buttons-container button svg {
  width: 50px;
  height: 50px;
  fill: #e7d8d888;
  background:transparent;
}

.arrow-btn{
  background-color:transparent;
  border: none;
  height: 10vh;
}

.CategoryTextContainer{
  bottom: 0;
  left: 0;
  min-width: 100%;
  overflow:hidden;
  height:4.5vh;
 color:beige;
  display:flex;
  margin-top:3vh;
  justify-content:center;

}

.CategoryText{
  font-size: 3.2vh;
  min-width:100%;
  color:beige;
  text-align:left;
  margin-left:2vw;
  height:7vh;

}


.GameSelectionWrapper{


}