.game-selection-container {
  display: flex;
  position: relative;
  min-height: 40vh;
  max-height: 40vh;
  width: 50%;
  align-content: center;
  align-items: center;
  scroll-behavior: smooth;
  gap: 3vh;
  overflow-x: hidden;
  overflow-y: hidden;


}


.card-container-selection {
  min-width: 20vw;
  max-width: 20vw;
  height: 29vh;
    max-height: 29vh;
  background-color: #141414;
  color: #fff;
  border-radius: 10px;
   position: relative;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 2px 20px black;
  scroll-behavior: smooth;

}


.card-container-selection:hover {
 


  transform: scale(1.05);

  
}

/* Estilos para la imagen */
.image-selection {
  min-width: 20vw;
  max-width: 20vw;
  height: 27vh;
  border-radius: 10px;
  overflow: hidden;

  object-fit: cover;
  opacity: 80%;
  transition: 0.2s ease-in-out;
  object-position: 100% 20%;
}
.image-selection:hover{
  opacity: 100%;
  border: 1px solid beige;
 
}
/* Estilos para el título */
.title-container-selection {
  position: absolute;
  bottom: -50px;
  height: 5vh;
  
  width: 100%;
  padding: 10px;
  font-family: "SF Pro Text", "Helvetica Neue", sans-serif;
  background-color: beige;
  opacity: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 2px 20px black;
}

.title-selection {
  font-size: 1.6vh;
  text-align: left;
  margin: 0;
  margin-bottom: 2vh;
  color: #363636; /* Color de texto utilizado por Apple */
}
/* Estilos para los botones de agregar y remover */
.add-button,
.remove-button {
  position: absolute;
  top: 10px;
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.add-button {
  right: 10px;
}

.remove-button {
  right: 40px;
}

/* Estilos para los botones de desplazamiento */
.scroll-buttons-container {
  position: absolute;
  top: 53%;
  left: 5px;
  right: -10px;

  display: flex;
  justify-content: space-between;
  transform: translateY(-20%);
}

.scroll-buttons-container button svg {
  width: 50px;
  height: 50px;
  fill: #e7d8d888;
  background:transparent;
}

.arrow-btn{
  background-color:transparent;
  border: none;
  height: 10vh;
}

.CategoryTextContainer{
  bottom: 0;
  left: 0;
  min-width: 100%;
  overflow:hidden;
  height:4.5vh;
 color:beige;
  display:flex;
  margin-top:3vh;
  justify-content:center;

}

.CategoryText{
  font-size: 3.2vh;
  min-width:100%;
  color:beige;
  text-align:left;
  margin-left:2vw;
  height:7vh;

}

@media (max-width: 767px){
  .game-selection-container {
    display: flex;
    position: relative;
    min-height: 40vh;
    max-height: 40vh;
    width: 50%;
    align-content: center;
    align-items: center;
    scroll-behavior: smooth;
    gap: 3vh;
    overflow-x: hidden;
    overflow-y: hidden;
  
  
  }

  .card-container-selection {
    min-width: 40vw;
    max-width: 40vw;
    height: 29vh;
      max-height: 29vh;
    background-color: #141414;
    color: #fff;
    border-radius: 10px;
     position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 2px 20px black;
    scroll-behavior: smooth;
  
  }
  
  .image-selection {
    min-width: 40vw;
    max-width: 40vw;
    height: 27vh;
    border-radius: 10px;
    overflow: hidden;
  
    object-fit: cover;
    opacity: 80%;
    transition: 0.2s ease-in-out;
    object-position: 100% 20%;
  }

  .title-selection {
    font-size: 1.2vh;
    text-align: center;
    margin: 0;
    margin-bottom: 2vh;
    color: #363636; /* Color de texto utilizado por Apple */
  }

}