.changeName-container{
    display:flex;
    min-width: 35vw;
    max-width: 87vw;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    flex-direction: column;
    min-height: 25vh;
    border:1px solid beige;
    border-radius: 10px;
    margin-top:2vh;
  }
  
  .form-wrap.formProfile{
    min-height: 25vh;
    max-height: min-content;
    margin-top: -10vh;
    padding: 1rem;
  }