.changeName-container{
    display:flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    flex-direction: column;
    min-height: 25vh;
  }
  
  .form-wrap.formProfile{
    height: 25vh;
    margin-top: -12vh;
  }