.profileDetail-main{

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.games-list-detail {
  display: flex;
  min-height: 25vh;
  max-height: min-content;
   align-items: center;
   width: 100%;
   gap: 2vh;
   flex-wrap: wrap;
   padding: 1rem;
   background-color: #2b2a2a;

  }
  
  .friends-list-detail{
    display: flex;
    height: 25vh;
    align-items:center;
    width: 100%;
    gap: 2vh;
    background-color: #2b2a2a;
  border: 1px solid rgba(173, 166, 166, 0.404);
  
    padding: 1rem;
  
 
  
  }
  
  
  .friends-sectionName-detail{
    padding: 2.1rem;
    background-color: rgba(173, 166, 166, 0.404);
    height: 4vh;
    display: flex;
  align-content: center;
  align-items: center;
  color:rgb(204, 198, 198);
  line-height: 1rem;
  font-size: 3vh;
  border-radius: 10px 10px 0 0;
  
  }
  
  .profile-container-detail{
  margin-top: 2vh;
  border-radius: 2px;
  padding: 1rem;
  display: flex;
  width: 50%;
  justify-content: center;
  justify-items: center;
  margin-top:15vh;
  
    
  }
  
  .profile-card-detail{
    display: flex;
    flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: #363636;
  border: 1px solid red;
  }
  
  .profile-main-detail{
    margin-top: 7vh;
    width: 100%;
    display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  
  }
  
  .profile-image{
  
    min-height: 19vh;
    min-width: 9vw;
  
  }
  
  .profile-content{
    width: 95%;
    background: #363636;
  }
  
  .profile-section-content{
  
    background: #363636;
  }
  .profile-header-detail{
   display: flex;
   padding: 2rem;
    height: 27vh;
    width: 95%;
    gap:7vh;
    align-content: center;
    align-items: center;
    border-radius: 10px;
  
    background: linear-gradient(20deg, #3f51b5, #2196f3);
    
    margin-top: 1vh;
  }
  
  .profile-section-detail{
    border: 1px solid rgba(173, 166, 166, 0.404);
    border-radius: 10px 10px 0 0;
    background-color: #2b2a2a;
    margin-top: 2vh;
    width: 100%;
  }
  
.text-btn-detail-wrap{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
 
}

  .userNameTextDetail{
    font-size: 2vw; /* Usar vw para el tamaño de la fuente */
    margin-right: 1em; /* Ajustar el margen derecho */
    margin-top: 1vh;
    margin-bottom: 1vh;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    overflow: hidden; /* Ocultar cualquier desbordamiento de texto */
    text-overflow: ellipsis; /
  }
  
  .apple-tv-button {
    background-color: transparent;
    border: px solid beige;
    border-radius: 8px;
    color: beige;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .apple-tv-button:hover {
    background-color: #0070c9;
    color: #fff;
  }
  
  .apple-tv-button:focus {
    outline: none;
  }
  
  .apple-tv-button:active {
    transform: scale(0.95);
  }
  
  .send-msg-bottom-text{
    background-color: red;
  }
  
  .anchorCustom{
    background-color: red;
  }
  
  .msgContainer{
    margin-top: -vh;
    margin-bottom: 2vh;
  }
  
  .userSettings-text{
    margin-top: 2vh;
    width: 100%;
  display: flex;
  justify-content: center;
  }
  
  .linkText{
    color: beige;
    font-size: 2.5vh;
  }

  .btn-user {
    height: 40px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #0096c7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border: 1px solid beige;
  }
  
  .btn-user:hover {
    background-color: #0076a3;
    transform: translateY(-2px);
  }
  
  .btn-user:active {
    background-color: #005b85;
    transform: translateY(1px);
  }
  
  .btn-userDetailWrapper{
    display: flex;
    width: 95%;
    gap:1vh;
    justify-content: end;
    margin-top:3vh;
  }

  @media (max-width: 767px) {

    .profile-header-detail{
      width: 90vw;
      margin-top: 2vh;
     
     }

     .userNameTextDetail{
      font-size: 3vw; /* Usar vw para el tamaño de la fuente */
 /* Ajustar el margen derecho */
    
    }
    
    .profile-image{
  
      min-height: 15vh;
      max-height: 17vh;
      min-width: 25vw;
    
    }
    

    .text-btn-detail-wrap{
      border: 1px solid red;
      width: 80vw;
      align-items: flex-end;
    }

    #msg-buttom{
      max-height: 1vh;
    font-size: 1.8vh;
    padding: 0.5rem;
    }

    .games-list-detai{

       width: 90vw;

    

    }

    .profile-section-detail{
     
    }

    .profile-content{
      width: 90vw;
    }
  }