.msg-page-wrapper {
    display: flex;
    width: 50%;
 
    justify-content: left;
    justify-items: center;
    align-items: flex-start;
    gap:0.5vw;

    border: 1px solid beige;

}
.chat-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: left;
    justify-content: left;
    margin-top: 2vh;
    overflow: hidden;
}
.headerChatText{
    margin-top: 7vh;
 height: 7vh;
 display: flex;
    width: 50%;
  background-color:  #363636;
    color:whitesmoke;
    border:1px solid beige;
    border-radius: 20px 20px 0 0; 

}

.headerChatOne{
    width: 31.1%;
    height: 100%;
    border-right: 2px solid beige;
    padding: 2rem;
    

}

.headerChatTwo{
    
    height: 100%;

    padding: 2rem;
    

}

.chatText{
    width: 50%;
}
.conversations-container {
    background-color: rgba(0, 0, 0, 0.295);
    display: flex;

    flex-direction: column;
    width: 31%;
    max-width: 30%;
    height: min-content;
    justify-content: left;
    color: #14171a;
    padding: 2rem;
    gap: 2vw;
    overflow: scroll;
    overflow-x: hidden;

    scrollbar-width: thin; /* Anchura del scrollbar */

}

.conversations-container::-webkit-scrollbar {
    width: 10px; /* Anchura del scrollbar */
}

.conversations-container::-webkit-scrollbar-thumb {
   
    border-radius: 4px; /* Borde redondeado del thumb */
}

.conversations-container::-webkit-scrollbar-track {
    background-color: #f5f8fa; /* Color del track */
    border-radius: 3px; /* Borde redondeado del track */
}

.conversation-wrapper {
    display: flex;
    padding: 1rem;

    gap: 2vw;
    cursor: pointer;
    border-bottom: 1px solid beige;
}

.messages-container {
    border-left:2px solid beige;
    display: flex;

    flex-direction: column;
    width: 70%;
    height: 70vh;
    align-items: center;

}

.conversation-text-wrapper {
    display: flex;
    flex-direction: column;
    color:whitesmoke;
    background-color: rgba(29, 27, 31, 0.295);


}

.conversation-user-img {
    border-radius: 100%;
    height: 5.7vh;
}

.header-messages {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: center;
    align-items: center;
    height: 90%;
    width: 100%;
    color: #14171a;
}

.sended-messages-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: rgba(29, 27, 31, 0.295);
    color: whitesmoke;
    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;


}

.sended-messages-wrapper::-webkit-scrollbar {
    width: 10px; /* Anchura del scrollbar */
}

.sended-messages-wrapper::-webkit-scrollbar-thumb {
    background-color: beige; /* Color del thumb */
    border-radius: 4px; /* Borde redondeado del thumb */
}

.conversations-container::-webkit-scrollbar-track {
    background-color: #f5f8fa; /* Color del track */
    border-radius: 3px; /* Borde redondeado del track */
}


.message {
    border-bottom: 1px solid #6e7072;
    padding: 1rem;
}

.input-message-wrapper {


   
    width: 100%;
    height: 10%; /* Aumento de la altura para mayor comodidad */

    display: flex;
    justify-items: center;
    justify-items: center;
    align-items: center; 

}

input {
   /* El input ocupa todo el espacio disponible */
    padding: 0.5rem; /* Añadir un poco de espacio interno */
    font-size: 2vh;
    background-color: rgb(231, 222, 222);
    height: 100%;
    width: 90%;
    
 
}


.chat-user-img {
    border-radius: 100%;
    height: 2.7vh;
}

p {
    font-size: 2vh;
}

.header-text-wrapper {
    color: #f5f8fa;
}

.sendmsg-btn {
    background-color: transparent;

    width: 10%;
    height: 100%;

    color: beige;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .sendmsg-btn:hover {
    background-color: #0070c9;
    color: #fff;
  }
  