.msg-page-wrapper{
    display: flex;
    width: 90%;
    gap:2vh;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
}

.conversations-container{
    
    background-color: beige;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    width: 30%;
    height: 90vh;
    justify-content: left;
    color:black;
    padding: 2rem;
    gap: 2vw;
    overflow: scroll;
    
  
}

.conversation-wrapper{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid rgb(230, 224, 224);
    gap: 2vw;
    cursor:pointer;
}

.messages-container{
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    align-items: center;
}

.conversation-text-wrapper{
    display: flex;
    flex-direction: column;
}

.conversation-user-img{
    border-radius:100%;
    height: 5.7vh;
}

.header-messages{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: center;
    align-items: center;
    height: 90%;
    width: 100%;

    color:black
}

.sended-messages-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: beige;
    padding: 1rem;

}


.message{
    border-bottom: 1px solid rgb(230, 224, 224);
    padding: 1rem;
}
.input-message-wrapper{
    margin-top: 2vh;
    width: 60%;
    height: 4vh;
    gap:3vw;
    display: flex;
    justify-content: left;
 
}

input{
    width: 70%;
    height: 100%;
    font-size: 2.5vh;
}

.sendmsg-btn{
    width: 10%;
    height: 4vh;
}

.chat-user-img{
    border-radius:100%;
    height: 2.7vh;
}

p{
    font-size: 2vh;
}

.header-text-wrapper{
    color:beige;
}