.passwordChange-container{
    display:flex;
    width: 100vw;;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    flex-direction: column;
    margin-top: 10vh;


  }
  

  .changePassWrap{
    height: 40vh;
    border:1px solid beige;
    width: 35vw;
    padding: 1rem;
    border-radius: 10px;
  }