.passwordChange-container{
    display:flex;
    width: 100vw;
    min-height: min-content;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    flex-direction: column;
    margin-top: 10vh;


  }
  

  .changePassWrap{
    min-height: 40vh;
    min-height: min-content;
    border:1px solid beige;
    min-width: 35vw;
    max-width: 90vw;
    padding: 1rem;
    border-radius: 10px;
  }