/* Ajustes generales para el contenedor principal */
.game-detail {
  position: absolute;
  top: 0; /* Desplaza el contenedor hacia abajo para evitar la barra de navegación */
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-height: min-content;

}

/* Estilo para el contenedor interno con desenfoque */
.game-detail-container {
  padding: 4vw;

  margin-top: 9vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  height: min-content;
  max-width: 100%;
  min-width: 100%; /* Limita el ancho del contenedor interno */

  /* Desenfoque del contenedor */

  z-index: 10;
}

/* Estilos para la sección de detalles principales */
.detailGameMain {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
  width: 95%;
  height: 45vh;

  justify-content: space-between;

}

.detailMainTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 1vh;

  align-items: start;
  z-index: 10;
}

.detailRating {
  border: 2px solid beige;
  border-radius: 10px;
  min-width: min-content;

  max-height: min-content;
  text-align: center;
  font-weight: bold;
  font-size: 4.7vh;
  padding: 0.3rem;


  z-index: 10;
}
.game-cover-detail {
  height: 45vh;

  object-fit: cover;
  border-radius: 8px;
}

.game-name-detail {
  font-size: 7vh;

  margin-top: -48px;
  font-weight: bold;
}

/* Estilos para los botones de acción */
.btn-detail-container {
  padding-top: 2rem;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.btn-game {
  height: 60px;
  width: 200px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #0096c7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-game:hover {
  background-color: #0076a3;
  transform: translateY(-2px);
}

.btn-game:active {
  background-color: #005b85;
  transform: translateY(1px);
}

/* Estilos para la sección de detalles adicionales */
.game-data-detail {

  display: flex;
  height: 10vh;
  flex-direction: column;
  gap: 5px; /* Reducimos el espacio entre los elementos */
  margin-top: 20px;
  width: 100%;
  padding-top: 2rem;
  color: beige;
  margin-bottom: -10vh;
}

.playtime-detail,
.playtime-detail::before,
.playtime-detail::after,
.detail-category-text {
  font-size: 25px;
  font-weight: bold;
  margin: 0; /* Eliminamos los márgenes por defecto */
}

.detail-category-container {
  padding: 10px;
  border-radius: 4px;
  width: 95%;
  height: 120%;
  padding-top: 2rem;
  color: beige;
}

.detail-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-items: center;
  align-content: center;
  align-items: center;
}

.detail-category-text {
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
}
.detailGame-userWrap {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 4vw;

  width: 100%;

}

.usersGameDetailWrapper {
  margin-top: 3vh;
  display: flex;
  gap: 4vh;
}

.gameDetailBasics {
  display: flex;
  gap: 4vh;
  height: 2vh;
  align-content: start;
}

.game-detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}
.game-tags-selection {
  height: 31vh;
  display: flex;
  width: 100%;

  justify-content: space-evenly;


}

.tagGameTxt {
  border: 1px solid beige;
  border-radius: 10px;
  text-align: center;
  height: 5vh;
  width: 19%;

  cursor: pointer;
  font-size: 1.9vh;
  padding: 8px 20px;
  text-overflow: ellipsis; 

  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tagGameTxt:hover {
  background-color: #0076a3;
  transform: translateY(-2px);
}

.card-detail-recomendation {
  min-width: 12vw;
  max-width: 12vw;
  height: 25vh;

  background-color: transparent;
  color: #fff;

  position: relative;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  scroll-behavior: smooth;
}

.title-detail-recomendation {
  position: absolute;
height: 5vh;

  width: 100%;
  padding: 10px;


  font-family: "SF Pro Text", "Helvetica Neue", sans-serif;
 

  color: #141414;
  background-color: beige;
  opacity: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 2px 20px black;
}

.title-recomendationDetail{
  font-size: 1.3vh;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.image-detailSimilar {
  width: 100%;

  height: 21vh;
  border-radius: 10px;
  overflow: hidden;

  object-fit: cover;
  opacity: 80%;
  transition: 0.2s ease-in-out;
  object-position: 100% 20%;
}
.image-detailSimilar:hover {
  opacity: 100%;
  border: 1px solid beige;
}

.similarGamesWrap {
  margin-top: 2vh;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  gap: 3vh;
  width: 95%;
overflow-x: hidden;
  justify-content: left;
}


.similarGamesHeaderText{
  width: 94%;
  font-family: "SF Pro Text", "Helvetica Neue", sans-serif;
  color:beige;
}

@media (max-width: 767px){

  .game-detail-container {
    padding: 4vw;
    min-height: 170vh;
    max-height: min-content;
  
    margin-top: 12vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  
    height: min-content;
    max-width: 100%;
    min-width: 100%; /* Limita el ancho del contenedor interno */
  
    /* Desenfoque del contenedor */
  
    z-index: 10;
  }
  .detailGameMain {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
    width: 95%;
    height: 120vh;
  
 
  
  }

  .game-cover-detail{
    height: 120vh;

    width: 100%;
  }
  
  .detailMainTextWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    width: 100%;
    margin-left: 1vh;
    gap:5vh;
  
    align-items: start;
    z-index: 10;
  }

  .game-name-detail{font-size: 5vh;}

  .btn-detail-container {

    margin-top: 45vh;
  }

  .tagGameTxt {
    border: 1px solid beige;
    border-radius: 10px;
    text-align: center;
    min-height: 10vh;
    max-height: min-content;
    width: 45%;
  
    cursor: pointer;
    font-size: 1.9vh;
    padding: 8px 20px;
    text-overflow: ellipsis; 
  
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .card-detail-recomendation {
    min-width: 37vw;
    max-width: 37vw;
    height: 25vh;
  
    background-color: transparent;
    color: #fff;
  
    position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  
    scroll-behavior: smooth;
  }
  .similarGamesWrap {
    margin-top: 2vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
overflow: hidden;
    gap: 3vh;
    width: 90%;

    justify-content: center;
  }
  
}