.changePic-container{
    display:flex;
    min-width: 35vw;
    max-width: 89vw;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    flex-direction: column;
    margin-top:2vh;
    border:1px solid beige;
    border-radius: 10px;
    min-height: 40vh;
    max-height: min-content;

  }
  
  .form-wrap.formProfile-pic{
   min-height: 50vh;
   min-height: min-content;
    
    padding:2rem;
  }