.userProfileBadge {
  position: relative;

  width: min-content;
  z-index: 1;
}

.iconWrapNav {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.profileContainer2 {
  right: -400px;
}
@media (max-width: 767px) {
  .userProfileBadge {
    right: 0;
  }
}
.contentBadgeMessages {
  position: absolute;
  top: -10px;
  right: -17px;
  background-color: red;
  border-radius: 100%;

  width: 1.2vw;
  height: 2.2vh;
  text-align: center;

  line-height: 1;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.contentBadgeMessages > p {
  font-size: 1.8vh;
}

.MsgAnchorText {
  font-size: 1.3vh;
}

.contentBadgeRequest {
  z-index: 0;
  position: absolute;
  top: 42px;
  right: -17px;
  background-color: rgb(125, 149, 228);
  border-radius: 50%;

  width: 1.2vw;
  height: 2.2vh;
  text-align: center;

  line-height: 1;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.contentBadgeRequest > p {
  font-size: 1.8vh;
}

.MsgAnchorText {
  font-size: 1.3vh;
}
