.userProfileBadge {
  position: relative;

  width: min-content;
  z-index: 1;
}

.iconWrapNav {
  display: flex;
  align-items: center;
  gap: 1vh;
}


@media (max-width: 767px) {
  .userProfileBadge {
    right: 0;
  }

  .contentBadgeMessages{
    display: none;
  } 

  .contentBadgeRequest{
    display: none;
  }
}
.contentBadgeMessages {
  position: absolute;
  top:-7px;
  right: -17px;
  background-color: red;
  border-radius: 50%;

  width: 30px;
  height: 25px;
  text-align: center;

  line-height: 1;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.contentBadgeMessages > p {
  font-size: 20px;
}

.MsgAnchorText {
  font-size: 20px;
}

.contentBadgeRequest {
  z-index: 0;
  position: absolute;
  top: 39px;
  right: -17px;
  background-color: rgb(125, 149, 228);
  border-radius: 50%;

  width: 30px;
  height: 25px;
  text-align: center;

  line-height: 1;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.contentBadgeRequest > p {
  font-size: 1.8vh;
}

.MsgAnchorText {
  font-size: 1.3vh;
}
