:root {
  font-family: "SF Pro Text", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #363636;
  height: min-content;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%; /* Asegura que el cuerpo de la página tome el 100% de la altura */
  margin: 0;
  padding: 0;
}
