.form-wrap-login{
    width: 30vw;
    height: 35vh;
    margin-top: 2rem;
    background: #f7fffa;
    padding: 15px 25px 30px;
    color: #333;
    border-radius: 5px;
    margin-bottom: 4vh;
}

.form-wrap-login h1,
.form-wrap p {
  text-align: center;
}

.form-wrap-login .form-group {
  margin-top: 15px;
}

.form-wrap-login .form-group label {
  color: #2f7a67;
  font-weight: normal;
}

.form-wrap-login .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  caret-color: #2f7a67;
  border: solid 2px #49c1a371;
}

.form-wrap-login .form-group input:focus {
  outline-color: #49c1a2;
}

.form-wrap-login .btn {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  background: #2f7a67;
  color: #fff;
  cursor: pointer;
  border: #2f7a67 1px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.form-wrap-login .btn:hover {
  background: #37a08e;
  color: #f4f4f4;
}

.form-wrap-login .btn:focus {
  outline-color: #37a08e;
}

.form-wrap-login .bottom-text {
  line-height: 1.4;
  margin-top: 15px;
}

.form-wrap-login .bottom-text a:hover {
  text-decoration: underline;
}